---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/Landing.astro';
import Footer from '../layouts/Footer.astro';
import Contact from '../components/Contact.astro'
import TimelineDemo from '../components/timeline_demo.astro';
---

<Layout title='Portafolio Bryan Jesus'>
	<Landing/>
  <main>
    <TimelineDemo />
  </main>
</Layout>

<Footer/>

