---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/Landing.astro';
import SeccionPages from '../components/SeccionPages.astro'
import Footer from '../layouts/Footer.astro';
import Contact from '../components/Contact.astro'
import Content from '../layouts/Content.astro';
---

<Layout title='Portafolio Bryan Jesus'>
	<Landing/>
  <main>
	<div>
		<SeccionPages/>
	</div>
	<div>
		<Content/>
	</div>
  </main>
  <Contact/>
</Layout>

<Footer/>

