---
import { CarouselWrapper } from '../components/UI/CarouselWrapper';
import type { Card as CardType } from '../components/UI/apple-cards-carousel';
import RotatingText from './RotatingText.astro';

// Sample data for the carousel
const data: CardType[] = [
  {
    category: "Software Engineer",
    title: "Perfil Profesional",
    src: "/SoftwareEngineer.jpg",
    content: "Ingeniero de Software con más de 3 años de experiencia en desarrollo Full-Stack, especializado en Análisis de Datos y gestión de bases de datos.  Conocimientos en Java, JavaScript, TypeScript, Next.js, ORM Prisma, Vue.js y Spring.  Destaco en trabajo en equipo, resolución de errores y liderazgo.  Apasionado por explorar nuevas perspectivas y buscar oportunidades para aplicar mis conocimientos, aprender continuamente y contribuir al éxito de los proyectos.",
    projectTitle: "",
    projectDescription: "",
  },
  {
    category: "Front-End Development",
    title: "Desarrollo de Interfaz de Usuario",
    src: "/Interface.jpg",
    content: "Experiencia en la creación de interfaces de usuario atractivas y funcionales utilizando frameworks modernos.",
    projectTitle: "Mejora de la Interfaz de Usuario",
    projectDescription: "Mejoré la interfaz de usuario utilizando Next.js, ORM Prisma y Vue.js, lo que llevó a un aumento del 20% en las calificaciones de satisfacción del usuario.",
  },
  {
    category: "Back-End Development",
    title: "Desarrollo de API y Base de Datos",
    src: "BackApp.jpg",
    content: "Habilidad para diseñar e implementar APIs y bases de datos eficientes y escalables.",
    projectTitle: "Desarrollo de la API y Base de Datos",
    projectDescription: "Diseñé e implementé una base de datos para la plataforma web 'Talleres Deportivos', lo que resultó en una reducción del 25% en los tiempos de recuperación de datos.  Configuré y desarrollé la API, mejorando la velocidad de comunicación de datos en un 30%.",
  },
  {
    category: "Big Data",
    title: "Gestión de Bases de Datos",
    src: "Data.jpg",
    content: "Experiencia en la gestión y optimización de bases de datos para garantizar la integridad y el rendimiento de los datos.",
    projectTitle: "Implementación de Base de Datos",
    projectDescription: "Implementé una base de datos para la plataforma web 'Talleres Deportivos', mejorando la eficiencia en la recuperación de datos.",
  },
  {
    category: "Cloud",
    title: "Desarrollo Cloud",
    src: "Cloud.jpg",
    content: "Capacidad para liderar equipos, comunicar ideas y gestionar proyectos de manera efectiva.",
    projectTitle: "Presentación en 'DETONA' Evento Emprendedor",
    projectDescription: "Dirigí la planificación empresarial de un proyecto, impulsando una mejora del 20% en el posicionamiento de mercado a través de conocimientos estratégicos.  Dirigí un equipo de 4 miembros, coordinando los esfuerzos para ofrecer un discurso y un plan de proyecto completos.",
  },
  {
    category: "Soft Skills",
    title: "Habilidades Blandas",
    src: "/SoftSkills.jpg",
    content: "Habilidades interpersonales y de resolución de problemas que complementan mis habilidades técnicas.",
    projectTitle: "Trabajo en Equipo en Hackathon",
    projectDescription: "Coordiné tareas e integré componentes, logrando una colaboración fluida entre un equipo de 5 desarrolladores.  Entregué soluciones de alta calidad en un plazo de 24 horas, destacando mis habilidades técnicas y de resolución de problemas bajo presión.  Gané el 1er lugar entre más de 20 equipos participantes, demostrando una sólida experiencia técnica y un trabajo en equipo eficaz.",
  },
];
---

<div class="w-full h-full py-20">
  <h2 class=" max-w-7xl pl-4 mx-auto text-xl md:text-5xl font-bold text-neutral-800 dark:text-neutral-200 font-sans inline-flex gap-1">
    <RotatingText />
  </h2>

  <CarouselWrapper data={data} client:load />
</div>

<style>
  /* Add any additional styles here */
</style>