---
import CardCoverImage from "../components/HeroUi/card-cover-image";
---
    <div class="flex min-h-screen items-center justify-center p-6"
    >
      <CardCoverImage client:visible
      />
    </div>
