---
import { CertificateShowcase } from '../components/ReactBits/CertificateShowcase';
---

<html lang="en">
  <head>
    <title>Certifications Showcase</title>
  </head>
  <body>
    <CertificateShowcase client:load />
  </body>
</html>
